.video{
    position: relative;
    background-color: black;
    color: black;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}
.video__player{
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: fill;
}